# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Node (frontend)
node_modules/
dist/
.env

# .NET Core (backend)
bin/
obj/
*.user
*.vs/

# System
.DS_Store
Thumbs.db


# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db


# IDE folders
**/.vs/
**/.idea/
**/.vscode/

# Build output folders
**/bin/
**/obj/
**/out/

# Build artifacts
*.exe
*.dll
*.pdb
*.apphost.exe
backend/Backend/TaskifyAPI/appsettings.json
backend/Backend/TaskifyAPI/appsettings.json
